# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build outputs
client/dist/

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
